@tailwind utilities;

.product {
  ul {
    @apply list-disc pl-6;
  }

  p,
  ul {
    @apply mb-3;
  }

  a {
    @apply underline text-blue-500 inline-block;
  }
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(to right, #38b6ff, #6341ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
