---
import { getCollection } from "astro:content";
import Product from "../components/Product.astro";

const products = (await getCollection("product")).sort(
  (a, b) => a.data.rank - b.data.rank
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>UK Company Database</title>
    <meta
      name="description"
      content="Find all UK company databases in one place."
    />
  </head>
  <body class="flex flex-col items-center">
    <main>
      <section class="p-8">
        <h1 class="text-4xl text-center font-bold">
          Find all UK company databases in one place
        </h1>
      </section>
      {products.map((product) => <Product product={product} />)}
    </main>
  </body>
</html>
