---
import "../styles/global.css";
import { getCollection } from "astro:content";
import Product from "../components/Product.astro";

const products = (await getCollection("product")).sort(
  (a, b) => a.data.rank - b.data.rank
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>UK Company Database</title>
    <meta
      name="description"
      content="The directory for all UK company databases"
    />
  </head>
  <body class="text-[1.25rem] bg-gray-50">
    <main class="flex flex-col items-center">
      <header class="py-20">
        <style></style>
        <h1
          class="text-4xl text-center font-bold tracking-wide leading-tight capitalize gradient-text"
        >
          The directory for all UK company databases
        </h1>
      </header>
      <section class="max-w-lg">
        {products.map((product) => <Product product={product} />)}
      </section>
    </main>
  </body>
</html>
