---
import "../styles/global.css";
import { getCollection } from "astro:content";
import Product from "../components/Product.astro";
import ContactForm from "../components/ContactForm";

const products = (await getCollection("product")).sort(
  (a, b) => a.data.rank - b.data.rank
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>UK Company Database</title>
    <meta
      name="description"
      content="The directory for all UK company databases"
    />
  </head>
  <body class="text-[1.25rem] bg-gray-50">
    <header class="px-20 py-5">
      <nav class="text-right">
        <a
          href="#contact"
          class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded inline-block"
          >Contact Us</a
        >
      </nav>
    </header>
    <main class="flex flex-col items-center">
      <section class="py-10">
        <h1
          class="text-4xl text-center font-bold tracking-wide leading-snug capitalize text-transparent bg-clip-text bg-gradient-to-r from-cyan-600 to-purple-600"
        >
          The directory for all UK company databases
        </h1>
      </section>
      <section class="max-w-lg py-10">
        {products.map((product) => <Product product={product} />)}
      </section>
      <section id="contact" class="max-w-lg">
        <h2 class="text-3xl font-bold py-10 text-center">Contact Us</h2>
        <p class="mb-5">
          Have feedback or want to add your database to this directory? Send us
          a message via the form below. Or connect with me <a
            href="https://linkedin.com/in/mihailmarian"
            class="underline text-blue-500"
            target="_blank">on LinkedIn</a
          >.
        </p>
      </section>
      <ContactForm />
    </main>
  </body>
</html>
