---
import { type CollectionEntry } from "astro:content";

type Props = { product: CollectionEntry<"product"> };

const { product } = Astro.props;

const { Content } = await product.render();
---

<article class="product mb-10 last:mb-0">
  <h1 class="mb-5">
    <a
      href={product.data.url}
      class="text-3xl font-bold underline text-blue-500"
    >
      {product.data.name}
    </a>
  </h1>
  <Content />
</article>
